{% extends 'myapp/index.html' %}

{% block title %}
    {{product.title}} - {{block.super}}
{% endblock %}

{% block content %}
<center>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">About product:</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <h6 class="card-subtitle mb-2 text-muted">{{product.price}}$</h6>
    <a href="{% url 'product_list_url' %}" class="card-link">Go back</a>
  </div>
</div>
</center>
{% endblock %}